@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;900&display=swap');

:root {
  --offWhite: #fff3fb;
  --accent: #d90368;
  --opaqueBlack: rgb(0, 0, 0, 0.4);
}

* {
  margin: 0;
}

html,
body {
  font-family: 'Roboto', 'sans-serif';
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

#container {
  display: flex;
  background-color: var(--offWhite);
  overflow: hidden;
  height: 100vh;
  justify-content: space-between;
}

/* HERO */
#hero {
  width: 17rem;
  display: flex;
  flex-direction: column;
  background-image: url(../img/palm.png);
  background-position: top;
  background-repeat: no-repeat;
  /* position: fixed; */
  background-size: cover;
  /* height: 100%; */
  align-items: center;
}

#hero-text {
  padding: 0 1rem;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  height: 15rem;
}

#hero-text h1 {
  padding-bottom: 0.5rem;
}

#hero-text h5 {
  position: absolute;
  right: 15px;
  top: -5px;
  visibility: hidden;
}

#headshot img {
  width: 100%;
}

#socials {
  /* position: absolute;
  bottom: 0;
  right: 0; */
}

#i-dot {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 379px;
  bottom: 108px;
}

#headshot {
  padding: 1rem;
}

button#contact {
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1.5rem;
  padding: 13px;
  border: 7px double #fff;
  border-radius: 15px;
  font-weight: 200;
}

/* MAIN */

#main {
  margin-left: 17rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 10rem;
}

#resume-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#project-container h1,
#resume-container h1 {
  align-self: flex-start;
}

#project-container {
  overflow: scroll;
  position: relative;
  z-index: 1;
  padding: 0;
}

/*PROJECT CONTAINER*/
.project {
  height: 300px;
  width: 300px;
  margin: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.project img {
  height: 354px;
}

.project:hover img {
  filter: brightness(40%);
  cursor: pointer;
}

.project img + div {
  position: absolute;
  visibility: hidden;
  top: 40%;
  font-size: 40px;
  color: #fff;
  font-family: 'Roboto', 'sans-serif';
}

#footer {
  color: #fff;
  display: flex;
  height: 100px;
  font-size: 10px;
  background-color: #000;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 12px 0 12px;
  justify-content: flex-end;
}

/*RESUME CONTAINER*/

.skill-section {
  display: flex;
  padding-top: 0.5rem;
  border-top: 1px solid var(--accent);
  width: 590px;
}

.skill-section .list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10rem;
  width: 23rem;
  justify-content: space-between;
  align-items: flex-start;
}

.skill-section .list * {
  margin: 10px 18px;
}

.skill-section h2 {
  width: 172px;
}

#bg-headshot img {
  width: 300px;
  position: absolute;
  bottom: 28px;
  right: -47px;
  opacity: 0.2;
}

@media (max-width: 1024px) {
  #hero {
    width: 13rem;
  }
  .project {
    width: 200px;
    height: 200px;
    margin: 0.5rem auto;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
  #container {
    flex-direction: column;
  }
  #hero {
    width: 100%;
    height: 7rem;
  }
  #project-container {
    overflow-x: scroll;
  }
  #resume-container {
    padding: 0;
    margin: 0 auto;
    width: 500px;
  }
  .skill-section {
    width: unset;
    flex-direction: column;
    width: 100%;
  }
  .skill-section .list {
    width: unset;
    height: unset;
    flex-direction: row;
  }
  .skill-section .list * {
    margin: 1px 5px;
  }
  .project {
    width: 200px;
    height: 200px;
    margin: 0.5rem auto;
  }
}

@media only screen and (max-width: 515px) {
  #resume-container{
    width: unset;
  }
}