<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/1931a4cb5d.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/main.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="hero">
        <div id="hero-text">
          <div id="i-dot"></div>
          <h1>april polubiec</h1>
          <h3>[ software developer ]</h3>
        </div>
      </div>
      {{ content }}
      <!-- <div id="footer">
        <a href="https://icons8.com/icon/84888/linkedin"
          >LinkedIn icon by Icons8</a
        >
        <a href="https://icons8.com/icon/20675/github">GitHub icon by Icons8</a>
        <a href="https://icons8.com/icon/82833/email">Email icon by Icons8</a>
        Photo by Min An from Pexels https://www.pexels.com/photo/green-leaves-1454794/
      </div> -->
    </div>
  </body>
</html>
